ci:
  # Ignore black updates because it stopped supported python2.7 with 22.1.0
  skip: [black]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-json
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-toml
    - id: check-xml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    - id: black
      language_version: python3
      additional_dependencies: ['click<8.1']
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      additional_dependencies:
      - flake8-2020
      - flake8-bugbear
      - flake8-coding
      - flake8-comprehensions
      - flake8-tidy-imports
      - flake8-print
  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.47"
    hooks:
    - id: check-manifest
      args: [--no-build-isolation]
