env:
  global:
    - TWINE_USERNAME=scout
    - secure: "ohvspT59/b71SdnIFf/HA5552tGaYWLYTUV2IQ/ZNxrTiJd/hcm5eBbfAkOUiC6l2cxdHt+cAyRh27us32z7F29qzlSzrWkTD18pvFKjSGtaa2X0aBTiollfiGgiXpdT5wiDoyjyGWti3q4CpwOZjrpB/rZx0DUxdRejf0cQfs/6W8xqei/PeSTAY+58eRxKUo9JOsEObDgpjJFSWTHVip6Rm0C8zG5fEal6OEMozP+LncSzxIPZiaA0x82nYSMSBQiJXqgX6x1iNDUVl9W1wwghPjCxhz1n6kUtoKOnLcz2VhtmzR+rFDXcdgIr3l9HsSaj8t/jRIPwyUuB1DDamKWuEC0dFrqeTraOKz/t7eZkSpKa+jRaNUC4RLPSSNJVC3hEH8WlNIAyCGyvYv0RAGEYzrWcl0QZQgn1s205uIVKF8v3bepAV4oPUOEjhAk3+kVhBDLrUHWnDtLzQxPJOcC/PpMIkXx5+ZCADJrkmppEAtv+gAbHIE5gcodvyGgUc1ynp/Ul2LQxUX7KUopZBkBtFomRJWOXli5rV9tc8It+m91Xua6+jRB8UePyHw2KLGoABulNNoGSvr+uRdH8Ph/4des33iikTEnEDBk740NAsMW1pExMMlXAdaYScpBjCu7z3MrSCs4oraCVJ1g9nqbc7ugxVqMPC97fu7XKpe8="
    - CIBW_TEST_COMMAND="/project/ci/cibuildwheel.sh"
    - CIBW_TEST_REQUIRES="tox"
    - CIBW_BUILD_VERBOSITY=0

language: python
matrix:
  include:
    - python: 3.6
      env:
        - BUILD_SDIST="true"
    - python: 3.7
      dist: xenial
      sudo: true
      env:
        - CIBW_PY_VER="34"
        - BUILD_WHEEL="true"
    - python: 3.7
      dist: xenial
      sudo: true
      env:
        - CIBW_PY_VER="35"
        - BUILD_WHEEL="true"
    - python: 3.7
      dist: xenial
      sudo: true
      env:
        - CIBW_PY_VER="36"
        - BUILD_WHEEL="true"
    - python: 3.7
      dist: xenial
      sudo: true
      env:
        - CIBW_PY_VER="37"
        - BUILD_WHEEL="true"

install:
  - if [ "${BUILD_WHEEL:-}" == "true" ]; then
       pip3 install --upgrade cibuildwheel;
    fi
  - pip3 install tox

script:
  - if [ "${BUILD_WHEEL:-}" == "true" ]; then
      cibuildwheel --output-dir wheelhouse;
    fi
  - if [ "${BUILD_SDIST:-}" == "true" ]; then
      export TOXENV=`tox --listenvs | grep "py${TRAVIS_PYTHON_VERSION/./}-" | tr '\n' ','`;
      tox -v && python3 setup.py sdist --dist-dir=wheelhouse;
    fi
  - ls -al wheelhouse
  - if [ "${TRAVIS_TAG:-}" != "" ]; then
      pip3 install twine;
      python3 -m twine upload --skip-existing wheelhouse/*;
    fi

notifications:
  email:
    on_success: never
    on_failure: always
