os: linux
dist: xenial

env:
  global:
    - ELASTICSEARCH_URL="http://localhost:9200/"
    - MONGODB_URL="mongodb://localhost:27017/"
    - REDIS_URL="redis://localhost:6379/0"
services:
  - docker
  - elasticsearch
  - mongodb
  - redis

language: python

python:
  - "3.7"

jobs:
  include:
    - stage: build
      name: "Build and upload distributions"
      python: "3.7"  # prevent matrix expansion
      env:
        - CIBW_SKIP="cp33-*"
        - TWINE_NON_INTERACTIVE=1
        - TWINE_USERNAME=__token__
        # TWINE_PASSWORD:
        - secure: "M4qjfKwZzEEGFLnOOuxcWzL7QibJmbg28uHw0puN2UzwUHBMLmgIMHcBVExMF8GmzFy3Wd1CFPukBRSvgAnxI8q42SlGXczs6GzAEPuNs9f+DkUEq2QC4msPTTyEyPVxHPwSJAvbg9kBOR+ELtQnaZg+xOlS4RAsqCqOS6bNMFMLf7jop44r7w441ZCaOLs4doI9T1hqq3XWRJ9YyP3KEPy3kMs343r9oURE+z7lqzJ3OYXLCml/ZdsHjDQI3kQja3q3PIotJK3brUMXBF+p9ECrVQwtolU2TNh4rO93m2O9EvMacEunlXoW6JB9/tXi/9K0Gee5KXtOfGu4I11GbWlj7FcExxLy+axI3i1r22mF1eer7aalid+6xFP7/UTJivvLaYpxPyMGBF7muUnqflhyQA1UpWc0z7jmY+IjjvBwJ/HGGkK1Du6xP9tP0Ksw97n7Fqo1XHNIm2IevJl2Jqp5hgl/FjcpJRMhYerITcbiYnj9MwlwvRYL6bvRIca29PoC7CwBXGzc6xBQwwnsq2RWbUnENmvjjJFvYX+nteuPUEeDHhQApPngXG4Nqf+dszouNlyIcDl4r1tRnLjBernDealGhmbR6fpW+eBt17LA3WKUKqRnTyeQN7ckIW+nOCCOsizH59dooOTtFu+P26KnmokpP9M3YcA8c9rk1tA="
      script:
        - python setup.py sdist
        - pip install --upgrade cibuildwheel twine
        - cibuildwheel
        - twine check dist/* wheelhouse/*
        - ls -al dist wheelhouse
        - if [ "${TRAVIS_TAG:-}" != "" ]; then
            twine upload --skip-existing dist/* wheelhouse/*;
          fi

notifications:
  email:
    on_success: never
    on_failure: always
