language: python
matrix:
  include:
    - python: 3.4
    - python: 3.5
    - python: 3.6
    - python: "pypy3"

cache: pip

before_install:
  - python --version
  - uname -a
  - lsb_release -a

before_install:
    - "export PYTHONPATH=$PYTHONPATH:$(pwd)"

install:
  - pip install tox
  - pip install tox-travis
  - virtualenv --version
  - easy_install --version
  - pip --version
  - tox --version

script:
  - tox -v --workdir=/tmp/tox
  - python setup.py bdist_wheel
  - if [ "${TRAVIS_PYTHON_VERSION:-}" == "3.6" ]; then
      python setup.py sdist
    fi

after_failure:
  - more .tox/log/* | cat
  - more .tox/*/log/* | cat

notifications:
  email:
    on_success: never
    on_failure: always

deploy:
  provider: pypi
  user: scout
  distributions: sdist bdist_wheel
  password:
    secure: "MPs+ybUn50YCD+oSXdLnIyHiKf5ZU4JB6rzFkesWEf2fFglX3mMUoZ1xfHUTuNJLMf4Jp6+UNNMRGIAFkNLPrYaNmUYiVyZKIqwgNzB/+9lyTAj/gVOrO8zEZrEslaZYVWwv8NAyR3TjjoFwRN49F23aGT0zqKB9wdec2WRN0I7HqYDbOyEDgVJXnPSxvTJK6PCgLoRTN+pgATpGXLODQeem74T88ApgFixGwqXSTc8JqTp52JRYtxYYZGeFtlExiB42PoUkGMozP/LIpMPgVite7zEoIJNcGqA0Yr55xOBnsAJM34jJzVz/Kn1i8c0RyJXmTypLnjEAtmIAfuPSGja/3Tw8ARvvPWMLVrvBGqCLZPgn/nZDIr3XsTrmpzPnwHne2Q4juPwQzOZHYZ5U6DmQb/NoSzqCK2QGVEQNT8gEEyZVPeUiPeHmPeqHPk5IRBiT/YiL84kXA+r44EDcpfTYdrjBw4gHf1T+qru3BPgpk2QF3EJOtC3D1q0fBzmBhXFSU1W2BEFnw58l2wHMSLeKm0zN/gOZ0hnNgTw02sfb67RgWi7WY3Yj8BBNp6S98YB73lbkJ9Aw0wM53WA9kcEVaQ6DXHqI9WSSrqXhMFEFZPgSaP48e1f4g/VasncadrZ67voMwhhGnumyV6aV06QSscvLa1Y+QF/tYMSFcsI="
  on:
    tags: true
    repo: scoutapp/scout_apm_python
