global-exclude *.py[cod]
prune __pycache__
prune tests
recursive-include src *.c
include CHANGELOG.md
include DEVELOPMENT.md
include LICENSE
include README.md
include pyproject.toml
exclude .pre-commit-config.yaml
exclude .python-version
exclude pytest.ini
exclude tox.ini
