name: Build release

on:
  push:
    branches:
    - master
    tags:
    - 'v*'
  pull_request:

jobs:
  release:
    name: Build release
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2.1.1
      with:
        python-version: 3.7
    - uses: actions/setup-python@v2.1.1
      with:
        python-version: 2.7
    - name: Install packaging tools
      run: |
        python2.7 -m pip install --upgrade pip setuptools wheel
        python3.7 -m pip install --upgrade cibuildwheel pip setuptools twine wheel
    - name: Build sdist
      run: python3.7 setup.py sdist
    - name: Build Python 2 wheel
      run: python2.7 setup.py bdist_wheel
    - name: Build binary wheels
      env:
        CIBW_SKIP: "cp27-* pp27-*"
      run: cibuildwheel
    - name: Check packages
      run: twine check dist/* wheelhouse/*
    - name: List files
      run: ls -al dist wheelhouse
    - name: Release
      if: startsWith(github.event.ref, 'refs/tags')
      env:
        TWINE_NON_INTERACTIVE: 1
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
      run: twine upload --skip-existing dist/* wheelhouse/*
