name: Build release

on:
  push:
    branches:
    - master
    tags:
    - 'v*'
  pull_request:

jobs:
  cibuildwheel_py37plus:
    name: Build python 3.7+ ${{ matrix.manylinux_image }} wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-20.04 ]
        python: [ 3.9 ]
        manylinux_image: [ manylinux1, manylinux2010, manylinux2014, manylinux_2_24 ]
        include:
          - os: ubuntu-20.04
            python: 3.9
            manylinux_image: manylinux1
            cibw_skip_override: "pp37-* cp310-*"

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: ${{ matrix.python }}

      - name: Install cibuildwheel
        run: |
          python -m pip install --upgrade pip cibuildwheel

      - name: Set up QEMU
        # For cross-architecture builds
        # https://cibuildwheel.readthedocs.io/en/stable/faq/#emulation
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      - name: Set AArch64 env if needed
        if: matrix.manylinux_image != 'manylinux1' && matrix.manylinux_image != 'manylinux2010'
        env:
          CIBW_MANYLINUX_AARCH64_IMAGE: ${{ matrix.manylinux_image }}
        run: echo "set CIBW_MANYLINUX_AARCH64_IMAGE=${{ env.CIBW_MANYLINUX_AARCH64_IMAGE }}"
      - name: Build binary wheels
        env:
          # Disable for platforms where pure Python wheels would be generated
          CIBW_ARCHS_LINUX: "auto aarch64"
          CIBW_BUILD_VERBOSITY: 1
          CIBW_SKIP: ${{ matrix.cibw_skip_override || 'pp37-*' }}
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.manylinux_image }}
          CIBW_MANYLINUX_I686_IMAGE: ${{ matrix.manylinux_image }}
        run: cibuildwheel

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  cibuildwheel_py35py36:
    name: Build python 3.5, 3.6 ${{ matrix.manylinux_image }} wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-18.04 ]
        python: [ 3.9 ]
        manylinux_image: [ manylinux1, manylinux2010, manylinux2014, manylinux_2_24 ]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: ${{ matrix.python }}

      - name: Install cibuildwheel
        run: |
          python -m pip install --upgrade pip "cibuildwheel==1.12.0"

      - name: Set up QEMU
        # For cross-architecture builds
        # https://cibuildwheel.readthedocs.io/en/stable/faq/#emulation
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      - name: Set AArch64 env if needed
        if: matrix.manylinux_image != 'manylinux1' && matrix.manylinux_image != 'manylinux2010'
        env:
          CIBW_MANYLINUX_AARCH64_IMAGE: ${{ matrix.manylinux_image }}
        run: echo "set CIBW_MANYLINUX_AARCH64_IMAGE=${{ env.CIBW_MANYLINUX_AARCH64_IMAGE }}"
      - name: Build binary wheels
        env:
          # Disable for platforms where pure Python wheels would be generated
          CIBW_ARCHS_LINUX: "auto aarch64"
          CIBW_BUILD_VERBOSITY: 1
          CIBW_BUILD: "cp35-* cp36-*"
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.manylinux_image }}
          CIBW_MANYLINUX_I686_IMAGE: ${{ matrix.manylinux_image }}
        run: cibuildwheel

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_pure_wheels:
    name: Build wheels
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python: [3.9, 2.7]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install packaging tools
        run: |
          python -m pip install --upgrade pip setuptools wheel

      - name: Build Python pure Python wheel
        env:
          BUILD_DISABLE_EXTENSIONS: "1"
        run: python setup.py bdist_wheel

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: 3.9

      - name: Build sdist
        run: python setup.py sdist

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  upload_pypi:
    needs: [cibuildwheel_py37plus, cibuildwheel_py35py36, build_pure_wheels, build_sdist]
    runs-on: ubuntu-20.04
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.TWINE_PASSWORD }}
