name: Build release

on:
  push:
    branches:
    - master
    tags:
    - 'v*'
  pull_request:

jobs:
  release:
    name: Build release
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2.1.1
      with:
        python-version: 3.7
    - name: Install packaging tools
      run: python -m pip install --upgrade cibuildwheel pip setuptools twine wheel
    - name: Build sdist
      run: python setup.py sdist
    - name: Build wheels
      env:
        CIBW_SKIP: "cp33-*"
      run: cibuildwheel
    - name: Check wheels
      run: twine check dist/* wheelhouse/*
    - name: List files
      run: ls -al dist wheelhouse
    - name: Release
      if: ${{ github.event_name == 'tag' && startsWith(github.ref, 'v') }}
      run: "echo publish"
      # env:
      #   TWINE_NON_INTERACTIVE: 1
      #   TWINE_USERNAME: __token__
      #   TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
      # run: twine upload --skip-existing dist/* wheelhouse/*
